*.class
target
*.tmd
maven-metadata-local.xml
pom.xml.versionsBackup
*~

.project
.settings
.classpath

logging
test.log
test-store/
.DS_Store

fuse/mdfs.pb
model/core/64k.fd
model/core/64k.sd

filter.properties
